* {
    box-sizing: border-box;
}

:root {

    --light: azure;
    --dark: rgb(88, 35, 4);
    --header: #2F4F4F;
    --bright: #ADFF2F;
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: American Typewriter, serif;
    background-color: var(--light);

}

.title {
    font-size: 72px;
  
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    padding-left: 40px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--header);
    box-shadow: 0 5px 35px rgb(6, 74, 6);
    
}

header span {
    color: var(--bright);
    background-color: rgb(6, 6, 6);
    margin: 0px;
    font-size: 4vw;
    line-height: 1;

}

nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {

    text-decoration: none;
    padding: 5px 10px;
    color: var(--bright);
    font-size: 1.5rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: #808000;
}

nav a:last-child {
    margin-right: 0;
}

main {

    margin-top: 20px;
    margin-bottom: 50px;
}

.top {
    padding: 2% 6%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    min-height: 30vh;
}

.top div {
    background-image: linear-gradient(darkgreen, lightgreen, #0B5345);
    flex: 0 0 90%;
    

}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}


.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--header);
    font-size: 4vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section  p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 23px;
}
.page-section p .about {
    font-weight: bold;
}

.page-section p .about:hover {
    color: coral;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--header);
    display: flex;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50%- 1em);
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: saturation;
    background-size: 150%;
    font-size: 2rem;
    color: #35520a;
    

}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: #2F4F4F;
    color: #ADFF2F;
    box-shadow: 0 5px 35px rgb(6, 74, 6);
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--dark);
    padding: 5px;
    font-size: 1.5rem;
    display: inline-block;
    
    
}
.contact address a:hover {
    color: #2F4F4F;
    
}

.soccor {
    background-image: url("/Users/mohammad/Desktop/Bootcamp Challenges/module-02/assets/images/soccer-and-football-player-logo-design-dribbling-ball-logo-icon-design-vector.jpg");
    background-size: 40% auto;
}



