* {
    box-sizing: border-box;
}

:root {

    --light: #EEEEEE;
    --dark: #222831;
    --header: #51557E;
    --bright: #ADFF2F;
    --shadow: #8FD6E1;
    --nav: #FCDC2A;
    --body: #793FDF;
}

body {
    margin: 0;
    padding: 0;
    color: var(--body);
    font-family: American Typewriter, serif;
    background-color: var(--dark);

}

.title {
    font-size: 72px;
  
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--header);
    background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0%),
    rgb(0 0 0 / 25%)
  );
    border-radius: 10px;
    box-shadow: 0 5px 35px var(--shadow);
    
}

header span {
    color: var(--shadow);
    margin: 0px;
    font-size: 4vw;
    line-height: 1;

}


nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {

    text-decoration: none;
    padding: 5px 10px;
    color: var(--shadow);
    font-size: 1.5rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--nav);
   
    
}

nav a:last-child {
    margin-right: 0;
}

main {

    margin-top: 20px;
    margin-bottom: 50px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.hr {
    box-shadow: 0 5px 35px var(--shadow);
}

.top {
    padding: 2% 6%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    min-height: 30vh;
}

.top .title img {
    border-radius: 500px;
    height: 300px;
}


.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}


.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.page-section > h2 {
    flex:auto;
    text-align: center;
    padding-right: 15px;
    font-size: 4vw;
    line-height: 1.1;
    
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section  p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 23px;
    color: var(--shadow);
    margin-top: 20px;
}
.page-section p .about {
    font-weight: bold;
}

.page-section p .about:hover {
    color: var(--header);
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--header);
    border-radius: 30px;
    display: flex;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50%- 1em);
    align-items:first baseline;
    padding: 0 0 20px 0;
    margin: 20px;
    text-decoration: none;
    background-blend-mode:lighten;
    background-size: 100;
    font-size: 2rem;
    color: var(--body);
    

}
.flex-item > div {
    justify-content: center;
    text-align: center;
   

    
}
.flex-item .item-1 {
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}


.flex-item div .image {
    width: 55%;
}


.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: var(--shadow);
    color: var(--dark);
    box-shadow: 0 5px 35px var(--shadow);
    
}

.contact address {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    border: 1px solid var(--light);
    border-radius: 50px;
    background-color: var(--header);
    width: 200px;
    margin-top:20px;
    box-shadow: 0 5px 35px var(--header);
    margin-left: 1%;
    
    
}

.contact address a {
    color: var(--shadow);
    padding: 0px 0px 30px 30px;
    font-size: 1.5rem;
    padding-right: 20px;
    padding-left: 20px;
   
    
    
}
.contact address .img {
    height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    
}
.contact address img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  
    
}







